<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <br>
    <h2>Fichas</h2>
    <% fichas.forEach((ficha, index) => { %>
        <a href="ficha/<%= index %>">
            <h3><%= ficha.name %> </h3>
        </a>
    <% }) %>
</body>
</html>